#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  margin: 10px;
  border: solid lightskyblue;
}

/* MainPage*/
.main-page-container {
  margin: 10px;
  border: solid green;
}

.app-header {
  margin: 10px;
  border: solid blue;
}

.app-nav {
  margin: 10px;
  border: solid powderblue;
}

.articles-page {
  margin: 10px;
  border: solid yellow;
}

.articles-list {
  margin: 10px;
  border: solid pink;
}

.article-list-item {
  margin: 10px;
  border: solid palegreen;
}

/* SingleArticlePage */
.single-article-page-container {
  margin: 10px;
  border: solid lightgreen;
}

.main-content {
  margin: 10px;
  border: solid lightcoral;
}

/* SingleArticleDetails */
.single-article-details {
  margin: 10px;
  border: solid lightslategray;
}

.article-meta {
  margin: 10px;
  border: solid purple;
}

.article-voting-controls {
  margin: 10px;
  border: solid gray;
}

.voting-status {
  margin: 10px;
  border: solid greenyellow;
}

.error-message-vote-error {
  margin: 10px;
  border: solid red;
}

.single-article-image {
  margin: 10px;
  padding: 5px;
  border: solid red;
}

.article-body {
  margin: 10px;
  border: solid yellowgreen;
}

/* Comments */
.comments-section {
  margin: 10px;
  border: solid gray;
}

/* .comments-section-error{
  margin: 10px;
  border: solid gray;
} */

.comment-list {
  margin: 10px;
  border: solid yellow;
}

.comment-card-placeholder {
  margin: 10px;
  border: solid lightseagreen;
}

.comment-card {
  margin: 10px;
  border: solid blueviolet;
}